.App {
  text-align: center;
}

.red { color: #e6261f; }
.blue { color: #34bbe6; }
.yellow { color: #f7d038; }
.orange { color: #eb7532; }
.purple { color: #4355db; }
.lime { color: #a3e048; }
.green { color: #49da9a; }
.indigo { color: #d23be7}

.mrq-container {
  overflow: hidden;
  position: relative;
  background-color: rgb(29, 29, 29);
  color: white;
}
.mrq-container::before {
  content: '\00a0';
}

.mrq {
  animation: marquee 2s linear infinite;
  display: inline-block;
  text-transform: uppercase;
}

/* Make it move */
@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to { 
    transform: translateX(-100%);
  }
}

@keyframes spinner {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}
.spin {
  animation-name: spinner;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.scrolling {
  animation: scroll 3s linear infinite;
  left: 0;
  position: absolute;
  top: 0;
}

@keyframes scroll {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-100%);
  }
}

#rainbow {
  height: 100%;
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
}